/*Ancho del main*/
div.body {
    min-width: 600px;
    max-width: 900px;
}

/* CSS para todas las advertencias*/
div.admonition-todo {
    background-color: #ffbf80;
    border: 1px solid #cc6600;
}
/* Esta clase afecta tanto a 'added' como a 'changed' */
.versionmodified {
    font-style: normal;
    background-color: #66ff66;
    border: 1px solid #009900;
}

div.note {
    font-style: bold;
    background-color: Moccasin;
    border: 2px solid DarkGoldenRod;
}

div.tip {
    font-style: italic;
    background-color: Chartreuse;
    border: 2px solid ForestGreen;
}

div.error {
    font-style: bold;
    background-color: red;
    border: 3px solid tomato;
}

div.hint {
    font-style: italic;
    background-color: lightblue;
    border: 2px dashed darkblue;
}

div.warning {
    font-style: bold;
    background-color: OrangeRed;
    border: 3px solid darkorange;
}